
body {
    font-family: "Poppins" , sans-serif;
    font-weight: 600;
    font-style: italic;
    margin: 0;
    padding: 0;
    color:white;
    text-shadow: 0px 0px 10px white,
                 0px 0px 20px white; 
                 
    background-color:  #100720;
    flex-wrap: wrap;
   
}
/* Video */
#videoback{
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
}


/* Estilos para el encabezado */
header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(35, 17, 196,1) 17.8%, rgba(2,245,255,1)100.2%);
    
}

/* Estilos para la navegación */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 1s;
    color:white
    
}
nav ul li:hover{
    transform: scale(1.1, 1.1);
}
nav ul:hover > li:not(:hover){
    filter: blur(3px);
    transform: scale(0.9, 0.9);
    
}

nav ul li {
    margin-right: 20px;
   ;
}

nav ul li a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: x-large  ;
}

/* Estilos para los iconos de redes sociales */
.social-media a img {
    width: 40px;
    height: 40px;
    transition: transform 1s;
}
.social-media a img:hover{
    transform: scale(1.3);
}
.contac{
  display: flex;
  align-items: end;
  justify-content: center ;
  margin-left: 600px;
  font-size: x-large;
  height: 65px;
  
  
  
}
#videoback{
  position: fixed;
  bottom: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
}
/* Estilos para el contenido principal */
main {
    padding: 20px;
    text-align: center;
    
}
#about{
  width: 100%;
  height: 300px;
  margin-top: 75px;
  margin-bottom: 75px;
  display: flex;
  flex-direction: row;
 
}
.perfil{
  position: relative;

  width: 55%;
  margin-right: 200px;
  margin-left: 100px;
 
}
.perfil .pe1{
  position: relative;
  z-index: 2;
}
.perfil .blob{
  position: absolute;
  z-index: 1;
  top: 0;
}
.pe1{
  border-radius: 100px;
  width: 95%;

}

.blob {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247  ,1) 17.8%, rgba(2,245,255,1)100.2%);
  width: 100%;
  height: 365px;
  position:absolute;
  z-index: 1;
  /* animacion: blob-bounce  */


}
  
.content{
  margin-top: 100px; 
  animation: blob-bounce 5s normal ease; 
}
@keyframes blob-bounce{
  0% {
    transform: translate(+100%, -100%) translate3d(0, 0, 0);
  }
}
/* Estilo para imagenes y lista */


.miImagen {
    width: 100%;
    height: 400px;
    overflow: hidden; 
    position: relative;
    display: inline-block;
    cursor: pointer;
  } 
  .lista-oculta{
    list-style: none;
    position: absolute;
    justify-items: left;
    bottom: 60px;
    margin-top: 5px;
    padding: 20px;
    left: -790px;
    padding: 5px;
    width: 90%;
    transition: left 5s ease;
    height: 350px;
    z-index: 3 ;
  }
  .lista-oculta:hover{
    left: 0;
  }
  .lista-oculta2{
    list-style: none;
    text-decoration: none;
    position: absolute;
    justify-items: right;
    bottom: 60px;
    margin-top: 5px;
    padding: 20px;
    right: -920px;
    padding: 5px;
    width: 98%;
    transition: right 5s ease;
    height: 250px;
    z-index: 2 ;
    font-size: small;
  }
  .lista-oculta2:hover{
    right: 0;
  }
  ul li{
    text-decoration: none;
    list-style: none;
  }
  .miImagen #imagen1 {
    position: absolute;
    left: -800px;
    transition: left 4s ease;
    cursor: pointer;
  }
   .miImagen:hover #imagen1{ 
    left: 0;
  } 
  
  .miImagen:active #imagen1{
    content: '';
    width: 50%;
    height: 300PX;
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    
  }
  .miImagen #imagen{
    position: absolute;
    right: -800px;
    transition: right 4s ease;
  }
  .miImagen:hover #imagen{
    right: 0;
 
  } 
  .miImagen:active #imagen{
    content: '';
    width: 50%;
    height: 300PX;
    filter: blur(5px);
    z-index: -1;
    position: sticky;
    left: 700px;
    top: 0;
    text-align: center;
    
  }
  .imagenes{
    width: 50%;
    height: 300px;
  }
  .wor{
    width: 100px;
    height: 50px;
    cursor: pointer;
    transition: 2s ease;
  }
  .wor:hover{
    transform: scale(2);
  }
  .vi{
    width: 100px;
    transition: 2s ease;
    cursor: pointer;
  }
  .vi:hover{
    transform: scale(2);
  }

  /* Footer */


footer {
  height: 45px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: radial-gradient(circle farthest-corner at 10% 20%, rgba(35, 17, 196,1) 17.8%, rgba(2,245,255,1)100.2%);

}
@media (max-width: 700px ){
   body{
       flex-direction: column;
   }
   
   
}
